<%= form_for [@place, Rating.new] do |f| %>
  
  <div class="field">
    <%= f.label "Review" %> <br>
    <%= f.text_area :text, id: :rating_text %>
  </div>

  <div class="field">
    <%= f.label :food_score %> <br>
    <%= f.select :food_score, [1, 2, 3, 4, 5] %>
  </div>

  <div class="field">
    <%= f.label :service_score %> <br>
    <%= f.select :service_score, [1, 2, 3, 4, 5] %>
  </div>

  <div class="field">
    <%= f.label :interior_score %> <br>
    <%= f.select :interior_score, [1, 2, 3, 4, 5] %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br>