<%= form_with(model: place, local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %> <br>
    <%= form.text_field :name, id: :place_name %>
  </div>

  <div class="field">
    <%= form.label :description %> <br>
    <%= form.text_area :description, id: :place_description %>
  </div>

  <div class="field">
    <%= form.label :category_id %> <br>
    <%= form.collection_select :category_id, Category.all, :id, :name %>
  </div>
  <br>
  <div class="field">
  <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
