<!DOCTYPE html>
<html>
  <head>
    <title>RateApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/application/navbar' %>
  <p id="notice"><%= notice %></p>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
